{%- assign first_block = section.blocks | first -%}
<style>
   #shopify-section-{{ section.id }} {
  --section-padding-top: {{ section.settings.padding_top }}px;
  --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  --text-color: {{ section.settings.color_text }};
  --background-color: {{ section.settings.color_background }};
  --button-text-color: {{ section.settings.color_button_text }};
  --button-background-color: {{ section.settings.color_button_background }};
  --gradient-overlay: {{ section.settings.gradient_overlay }};
  --rounded-corner-radius: {% if section.settings.rounded %}15px{% else %}0px{% endif %};
   }
</style>

<div
  class="hero-section section--padding{% if section.settings.divider %} section--divider{% endif %}"
  style="background: var(--background-color); width: 100vw; overflow: hidden;"
>
  <div class="{% unless section.settings.full_width %}page-width {% endunless %}relative" style="width: 100%;">
    {%- if section.blocks.size > 0 -%}
      {%- assign block = section.blocks | first -%}
      <div class="relative">
        <div class="banner w-full overflow-hidden" data-type="image" {{ block.shopify_attributes }} style="border-radius: var(--rounded-corner-radius);">
  <media-element class="banner__media block w-full h-auto">
    <picture>
      {%- if block.settings.image_mobile != blank -%}
        <source media="(max-width: 767px)" srcset="{{ block.settings.image_mobile | image_url: width: 400 }} 400w, {{ block.settings.image_mobile | image_url: width: 800 }} 800w, {{ block.settings.image_mobile | image_url: width: 1200 }} 1200w">
      {%- endif -%}
      <img
        src="{{ block.settings.image | image_url: width: 3000 }}"
        srcset="
          {{ block.settings.image | image_url: width: 400 }} 400w,
          {{ block.settings.image | image_url: width: 800 }} 800w,
          {{ block.settings.image | image_url: width: 1200 }} 1200w,
          {{ block.settings.image | image_url: width: 1600 }} 1600w,
          {{ block.settings.image | image_url: width: 2000 }} 2000w,
          {{ block.settings.image | image_url: width: 2400 }} 2400w,
          {{ block.settings.image | image_url: width: 2800 }} 2800w,
          {{ block.settings.image | image_url: width: 3200 }} 3200w
        "
        sizes="100vw"
        loading="lazy"
        fetchpriority="high"
        alt="{{ block.settings.image.alt }}"
        class="banner__image"
        style="width: 100%; height: auto; object-fit: cover; border-radius: var(--rounded-corner-radius);"
      >
    </picture>
  </media-element>

          <span
            class="banner__overlay absolute top-0 left-0 w-full h-full pointer-events-none"
            style="background-image: var(--gradient-overlay);"
          ></span>
          {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
            <a
              href="{{ block.settings.button_link }}"
              class="block absolute top-0 left-0 w-full h-full"
              aria-hidden="true"
              >&nbsp;</a
            >
          {%- endif -%}
        </div>
        <div class="absolute bottom-0 left-0 w-full pointer-events-none">
          <div class="slideshow-content">
            <div class="flex flex-col md:flex-row md:items-end justify-between gap-6">
              {%- if block.settings.heading != blank -%}
                <div class="banner__box banner__box--{{ section.settings.content_width }}">
                  <{{ block.settings.heading_tag }}
                    class="heading font-bold leading-none {{ block.settings.heading_size }}"
                    style="color: var(--text-color);"
                  >
                    {{ block.settings.heading }}
                  </{{ block.settings.heading_tag }}>
                </div>
              {%- endif -%}
              {%- if block.settings.button_label != blank -%}
                <a
                  class="button{% if block.settings.button_secondary_style %} button--secondary{% else %} button--primary{% endif %} pointer-events-auto"
                  href="{{ block.settings.button_link }}"
                  role="link"
                  style="color: var(--button-text-color); background: var(--button-background-color);"
                >
                  <span class="btn-fill" data-fill></span>
                  <span class="btn-text">{{ block.settings.button_label | escape }}</span>
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "GoBoat Hero",
  "max_blocks": 1,
  "settings": [
	{
	  "type": "range",
	  "id": "padding_top",
	  "min": 0,
	  "max": 120,
	  "step": 4,
	  "unit": "px",
	  "label": "Padding Top",
	  "default": 0
	},
	{
	  "type": "range",
	  "id": "padding_bottom",
	  "min": 0,
	  "max": 120,
	  "step": 4,
	  "unit": "px",
	  "label": "Padding Bottom",
	  "default": 0
	},
	{
	  "type": "checkbox",
	  "id": "divider",
	  "label": "Divider",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "full_width",
	  "label": "Full Width",
	  "default": true
	},
	{
	  "type": "checkbox",
	  "id": "rounded",
	  "default": false,
	  "label": "Rounded Corners"
	},
	{
	  "type": "color",
	  "id": "color_text",
	  "label": "Text Color",
	  "default": "#ffffff"
	},
	{
	  "type": "color",
	  "id": "color_background",
	  "label": "Background Color",
	  "default": "#ffffff"
	},
	{
	  "type": "color_background",
	  "id": "gradient_overlay",
	  "label": "Gradient Overlay"
	},
	{
	  "type": "color",
	  "id": "color_button_text",
	  "label": "Button Text Color",
	  "default": "#171717"
	},
	{
	  "type": "color",
	  "id": "color_button_background",
	  "label": "Button Background Color",
	  "default": "#ffffff"
	}
  ],
  "blocks": [
	{
	  "type": "image",
	  "name": "Hero Image",
	  "settings": [
		{
		  "type": "image_picker",
		  "id": "image",
		  "label": "Desktop Image"
		},
		{
		  "type": "image_picker",
		  "id": "image_mobile",
		  "label": "Mobile Image"
		},
		{
		  "type": "inline_richtext",
		  "id": "heading",
		  "label": "Heading",
		  "default": "Hero Section Heading"
		},
		{
		  "type": "select",
		  "id": "heading_size",
		  "options": [
			{
			  "value": "title-sm",
			  "label": "Small"
			},
			{
			  "value": "title-md",
			  "label": "Medium"
			},
			{
			  "value": "title-lg tracking-heading",
			  "label": "Large"
			},
			{
			  "value": "title-xl tracking-heading",
			  "label": "Extra Large"
			}
		  ],
		  "default": "title-lg tracking-heading",
		  "label": "Heading Size"
		},
		{
		  "type": "select",
		  "id": "heading_tag",
		  "options": [
			{
			  "value": "h1",
			  "label": "H1"
			},
			{
			  "value": "h2",
			  "label": "H2"
			},
			{
			  "value": "h3",
			  "label": "H3"
			},
			{
			  "value": "h4",
			  "label": "H4"
			},
			{
			  "value": "h5",
			  "label": "H5"
			},
			{
			  "value": "h6",
			  "label": "H6"
			},
			{
			  "value": "div",
			  "label": "Div"
			},
			{
			  "value": "span",
			  "label": "Span"
			},
			{
			  "value": "p",
			  "label": "Paragraph"
			}
		  ],
		  "default": "h2",
		  "label": "Heading Tag"
		},
		{
		  "type": "text",
		  "id": "button_label",
		  "label": "Button Label"
		},
		{
		  "type": "url",
		  "id": "button_link",
		  "label": "Button Link"
		},
		{
		  "type": "checkbox",
		  "id": "button_secondary_style",
		  "default": false,
		  "label": "Secondary Button Style"
		}
	  ]
	}
  ],
  "presets": [
	{
	  "name": "GoBoat Hero",
	  "blocks": [
		{
		  "type": "image"
		}
	  ]
	}
  ]
}
{% endschema %}
