<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <div class="goboat-multicolumn">
      {%- for block in section.blocks -%}
        <div class="goboat-multicolumn-card{% if block.settings.show_border %} goboat-with-border{% endif %}">
          <div class="grid gap-4 lg:gap-6 w-full">
            {%- if block.settings.image != blank -%}
              <a
                class="block goboat-media goboat-media--{{ block.settings.image_ratio }} media--transparent relative overflow-hidden"
                {% if block.settings.button_link != blank %}
                  href="{{ block.settings.button_link }}"
                {% else %}
                  role="link" aria-disabled="true"
                {% endif %}
              >
                {{-
                  block.settings.image
                  | image_url: width: block.settings.image.width
                  | image_tag:
                    loading: 'lazy',
                    widths: '180,360,540,720,900,1080,1600',
                    sizes: sizes,
                    is: 'lazy-image',
                    class: 'inline-block'
                -}}
              </a>
            {%- endif -%}

            {%- if block.settings.heading != blank
              or block.settings.text != blank
              or block.settings.button_label != blank
            -%}
              <div class="goboat-multicolumn-card__info grid gap-4 lg:gap-6">
                {%- if block.settings.heading != blank -%}
                  <p class="heading {{ block.settings.heading_size }}">
                    {{- block.settings.heading -}}
                  </p>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  <div class="rte leading-normal">
                    {{- block.settings.text -}}
                  </div>
                {%- endif -%}

                {%- if block.settings.button_label != blank -%}
                  <p>
                    <a
                      class="button button--secondary button--fixed icon-with-text"
                      {% if block.settings.button_link != blank %}
                        href="{{ block.settings.button_link }}"
                      {% else %}
                        role="link" aria-disabled="true"
                      {% endif %}
                      is="hover-link"
                    >
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">{{ block.settings.button_label | escape }}</span>
                    </a>
                  </p>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "GoBoat Multicolumn",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "Columns"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 Column"
        },
        {
          "value": "2",
          "label": "2 Columns"
        }
      ],
      "default": "1",
      "label": "Mobile Columns"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "label": "Enable Swipe on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section Heading",
      "default": "Multicolumn"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "Small"
        },
        {
          "value": "title-md",
          "label": "Medium"
        },
        {
          "value": "title-lg",
          "label": "Large"
        }
      ],
      "default": "title-md",
      "label": "Heading Size"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "Left"
        },
        {
          "value": "text-center md:items-center",
          "label": "Center"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "Right"
        }
      ],
      "default": "text-center md:items-center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "Div"
        },
        {
          "value": "span",
          "label": "Span"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "info": "Button Label Information"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "Background Gradient"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "Button Text Color"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "Button Background Color"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "Button Gradient"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show Divider",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "Rounded"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "default": false,
          "label": "Show Border"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "default": "left",
          "label": "Text Alignment"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_mobile",
          "default": "left",
          "label": "Mobile Text Alignment"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ],
          "default": "adapt",
          "label": "Image Ratio"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Example Title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "title-sm",
              "label": "Small"
            },
            {
              "value": "title-md",
              "label": "Medium"
            },
            {
              "value": "title-lg",
              "label": "Large"
            },
            {
              "value": "text-base-xl",
              "label": "Text Base XL"
            },
            {
              "value": "text-lg-2xl",
              "label": "Text LG 2XL"
            },
            {
              "value": "text-2xl lg:text-3xl",
              "label": "Text 2XL LG 3XL"
            }
          ],
          "default": "text-lg-2xl",
          "label": "Heading Size"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GoBoat Multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
